.cover {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1184px;
  height: 740px;
  margin: 46px 0;
}
