.place__paragraph {
  grid-area: text;
  padding: 0;
  padding-bottom: 26px;
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
  .place__paragraph:last-child {
    padding-bottom: 0;
  }

@media screen and (max-width: 1279px){
  .place__paragraph {
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 1023px){
  .place__paragraph {
    padding-bottom: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px){
  .place__paragraph {
    padding: 0 16px 25px;

  }
}
